<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <!-- Saurabh
    <br>
<img src="https://cdn.mos.cms.futurecdn.net/pNhFRNzeqBsAJ4ppRGFYzd-1200-80.jpg" alt="">
<br> -->
        <% data.forEach((params)=>{ %>
        <h3><%= params.name %> </h3>
        <br>
        <img src="/<%= params.image %>" alt="Gayab">
        <%  })%>
        <br>

        <!-- <%= data %>
<br>

<br>
<img src="../uploads/mypic-1601883651926.jpg" alt="Gayab">
<br>
<img src="url_for(../uploads/mypic-1601883651926.jpg)" alt="Gayab">
<br> -->


    </body>

</html>
