<form action="/image" method="POST"  style="position: relative; margin-left: 35%;margin-right: 35%; margin-top: 10vh; background-color: aqua;" >
    <input type="text" placeholder="Enter Name" name="name" style="margin: 5vh;">
    <br>
    <button style="margin: 5vh;">Submit</button>

</form>

<form action="/image"  method="POST"   enctype="multipart/form-data"  style="position: relative; margin-left: 35%;margin-right: 35%; margin-top: 10vh; background-color: aqua;">
    Enter File
    <input type="file" name="image" style="margin: 5vh;" >
    <br>

    <button style="margin: 5vh;">Submit</button>

</form>